<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>訂閱者 - 管理介面</title>
	
	
</head>
<body>
	








<div id="warp">
		<div id="header">
			<div class="toplogin">

				<a href="/logout3/">
				<FONT SIZE="7">登出試用者 - 我的最愛管理介面</FONT></a>
			</div>
			
		</div>


		<div class="headings">
		  <h2><FONT SIZE="7">試用者 - 最新消息</FONT></h2>
		</div>  


		{% block content0 %}{% endblock %}




		<br><br>


				
		<div id="warp2">{% block append %}{% endblock %}
				<br><br></div>

		<div class="headings">
		  <h2><FONT SIZE="7">試用者 - 管理介面</FONT></h2>
		</div>  


{% block content1 %}{% endblock %}
	


<br><br><br>







<br><br><br>


<table width="100%">









		<tr>
                            
		 <th align="left" style="background-color:#81C0C0;">
		 <a href="/stock6xapp/"><FONT SIZE="7">台股財務六大指標即時計算分數（滿分4分，3分以上為好公司）</FONT></a>
		 </th>
		</tr>

		<tr>
                            
		 <th align="left" style="background-color:#81C0C0;">
		 <a href="/stockPERsegxapp/"><FONT SIZE="7">台股財務指標計算便宜價和昂貴價（程式根據預估最新EPS計算）</FONT></a>
		 </th>
		</tr>
</table>



{% block exit %}
{% endblock %}




		<div id="footer"><FONT SIZE="5">&copy; Copyright 2020.7 ~ NOW 財務指標程式選股</FONT></div>
	</div>
</body>
</html>
