<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>訂閱者 - 管理介面</title>
	
	
</head>
<body>
	








<div id="warp">
		<div id="header">
			<div class="toplogin">

				<a href="/logout/">
				<FONT SIZE="7">登出訂閱者 - 我的最愛管理介面</FONT></a>
			</div>
			
		</div>


		<div class="headings">
		  <h2><FONT SIZE="7">訂閱者 - 最新消息</FONT></h2>
		</div>  


		{% block content0 %}{% endblock %}




		<br><br>


				
		<div id="warp2">{% block append %}{% endblock %}
				<br><br></div>

		<div class="headings">
		  <h2><FONT SIZE="7">訂閱者 - 總經和我的最愛股票管理介面</FONT></h2>
		</div>  


{% block content1 %}{% endblock %}
	


<br><br><br>







<br><br><br>


<table width="100%">









		<tr>
                            
		 <th align="left" style="background-color:#81C0C0;">
		 <a href="/stock6x/"><FONT SIZE="7">#1-3a# 六大指標即時計算（新版優化）</FONT></a>
		 </th>
		</tr>


		<tr>
                            
		 <th align="left" style="background-color:#81C0C0;">
		 <a href="/stock6xDB/"><FONT SIZE="7">#1-3b# 六大指標即時計算（新版優化+過去3個月資料庫查詢）</FONT></a>
		 </th>
		</tr>


		<tr>
                            
		 <th align="left" style="background-color:#81C0C0;">
		 <a href="/stock6TSE/"><FONT SIZE="7">#1-4# 六大指標 上市類股查詢</FONT></a>
		 </th>
		</tr>

		<tr>
                            
		 <th align="left" style="background-color:#81C0C0;">
		 <a href="/stock6OTC/"><FONT SIZE="7">#1-5# 六大指標 上櫃類股查詢</FONT></a>
		 </th>
		</tr>



		<tr>
                            
		 <th align="left" style="background-color:#ADFEDC;">
		 <a href="/stock6Concepts/"><FONT SIZE="7">#1-6# 六大指標 概念股查詢</FONT></a>
		 </th>
		</tr>


		<tr>
                            
		 <th align="left" style="background-color:#ADFEDC;">
		 <a href="/stock6SubCats/"><FONT SIZE="7">#1-7# 六大指標 子產業查詢</FONT></a>
		 </th>
		</tr>




		<tr>
	
                            
		 <th align="left" style="background-color:#FFE6FF;">
		 <a href="/DB_stock6sign/"><FONT SIZE="7">六大指標 舊資料庫</FONT></a>
		 </th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202201/"><FONT SIZE="7">#DB22-01-1# 列出2022年1月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202201score/"><FONT SIZE="7">#DB22-01-2# 列出2022年1月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202202/"><FONT SIZE="7">#DB22-02-1# 列出2022年2月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202202score/"><FONT SIZE="7">#DB22-02-2# 列出2022年2月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202203/"><FONT SIZE="7">#DB22-03-1# 列出2022年3月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202203score/"><FONT SIZE="7">#DB22-03-2# 列出2022年3月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202204/"><FONT SIZE="7">#DB22-04-1# 列出2022年4月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202204score/"><FONT SIZE="7">#DB22-04-2# 列出2022年4月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>




		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202205/"><FONT SIZE="7">#DB22-05-1# 列出2022年5月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202205score/"><FONT SIZE="7">#DB22-05-2# 列出2022年5月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1Gx5e6CxLAu4zKF-edmYLKNx45oJocukLTvPbIKCZoPs/edit?usp=sharing"><FONT SIZE="7">#DB22-05-g# 列出2022年5月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202206/"><FONT SIZE="7">#DB22-06-1# 列出2022年6月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202206score/"><FONT SIZE="7">#DB22-06-2# 列出2022年6月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1slE4fueuxZ55D25NMA54Rum3StA8GVgx4GusmmhDvoo/edit?usp=sharing"><FONT SIZE="7">#DB22-06-g# 列出2022年6月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>



		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202207/"><FONT SIZE="7">#DB22-07-1# 列出2022年7月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202207score/"><FONT SIZE="7">#DB22-07-2# 列出2022年7月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/121UUG_LaGtWuoSLkRWtspJgxx_uuB1snNEJJRgMRicM/edit?usp=sharing"><FONT SIZE="7">#DB22-07-g# 列出2022年7月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202208/"><FONT SIZE="7">#DB22-08-1# 列出2022年8月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202208score/"><FONT SIZE="7">#DB22-08-2# 列出2022年8月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1tzvZVTL0II-pP1ewnkZ_5p89yy-OQZc98nMsR17QrF8/edit?usp=sharing"><FONT SIZE="7">#DB22-08-g# 列出2022年8月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>



		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202209/"><FONT SIZE="7">#DB22-09-1# 列出2022年9月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202209score/"><FONT SIZE="7">#DB22-09-2# 列出2022年9月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1xy3LNxeumRjuPLSrPjec1o4KR74id7FsSQ57ZYeZgh8/edit?usp=sharing"><FONT SIZE="7">#DB22-09-g# 列出2022年9月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202210/"><FONT SIZE="7">#DB22-10-1# 列出2022年10月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202210score/"><FONT SIZE="7">#DB22-10-2# 列出2022年10月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/11MYmlHpG6NA02WlEfPpcf7QasgRJZRA2_oA-fqq1hXc/edit?usp=sharing"><FONT SIZE="7">#DB22-10-g# 列出2022年10月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202211/"><FONT SIZE="7">#DB22-11-1# 列出2022年11月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202211score/"><FONT SIZE="7">#DB22-11-2# 列出2022年11月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1hek9ZwukPpqkr8UjMEqxQAk7xBIwDSg5qDMY1Z9HgO4/edit?usp=sharing"><FONT SIZE="7">#DB22-11-g# 列出2022年11月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202212/"><FONT SIZE="7">#DB22-12-1# 列出2022年12月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202212score/"><FONT SIZE="7">#DB22-12-2# 列出2022年12月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/109VxF1sPbNih-I3_mnt9V-JLW3RVLbxK8Lx46d6-v_Q/edit?usp=sharing"><FONT SIZE="7">#DB22-12-g# 列出2022年12月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>
		
		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202301/"><FONT SIZE="7">#DB23-01-1# 列出2023年1月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202301score/"><FONT SIZE="7">#DB23-01-2# 列出2023年1月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/12njTranPnk_dmKWAlprfG52bphcp8RBDtVIwE4hchME/edit?usp=sharing"><FONT SIZE="7">#DB23-01-g# 列出2023年1月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>	


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202302/"><FONT SIZE="7">#DB23-02-1# 列出2023年2月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202302score/"><FONT SIZE="7">#DB23-02-2# 列出2023年2月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1tb_3e6EwWnnIPRRVk92nK_tDhjebiHHUaJhiuFY8J5Y/edit?usp=sharing"><FONT SIZE="7">#DB23-02-g# 列出2023年2月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>	


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202303/"><FONT SIZE="7">#DB23-02-1# 列出2023年3月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202303score/"><FONT SIZE="7">#DB23-02-2# 列出2023年3月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/137QFtEWRT3e-uvBn2kQUxbWhV9gkiI8wVQD7BOuH1Zs/edit?usp=sharing"><FONT SIZE="7">#DB23-02-g# 列出2023年3月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>
		

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202304/"><FONT SIZE="7">#DB23-04-1# 列出2023年4月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202304score/"><FONT SIZE="7">#DB23-04-2# 列出2023年4月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1nMBhcU1Ap3KP3ACLuIaEEQYmdGNbTJDMM-Cdbzv8N-E/edit?usp=sharing"><FONT SIZE="7">#DB23-04-g# 列出2023年4月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202305/"><FONT SIZE="7">#DB23-05-1# 列出2023年5月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202305score/"><FONT SIZE="7">#DB23-05-2# 列出2023年5月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1G2xYJItuBSP75VF4ZavlYaGGdaxjFlzSE2a2L_5Pjzg/edit?usp=sharing"><FONT SIZE="7">#DB23-05-g# 列出2023年5月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202306/"><FONT SIZE="7">#DB23-06-1# 列出2023年6月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202306score/"><FONT SIZE="7">#DB23-06-2# 列出2023年6月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1j2nJQRNuqyJnCnNHpB1i2YU1W-9cME0kB9a_YCnbDGg/edit?usp=sharing"><FONT SIZE="7">#DB23-06-g# 列出2023年6月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202307/"><FONT SIZE="7">#DB23-07-1# 列出2023年7月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202307score/"><FONT SIZE="7">#DB23-07-2# 列出2023年7月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1dmeIQR9KjzG5KIhhGEr-iAMWT7vRwb2abah7x3LSvlU/edit?usp=sharing"><FONT SIZE="7">#DB23-07-g# 列出2023年7月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202308/"><FONT SIZE="7">#DB23-08-1# 列出2023年8月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202308score/"><FONT SIZE="7">#DB23-08-2# 列出2023年8月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/17OgkkTmS5kqJjTZkHYKRuPSRNx72w28udlJ-9lYVb0s/edit?usp=sharing"><FONT SIZE="7">#DB23-08-g# 列出2023年8月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202309/"><FONT SIZE="7">#DB23-09-1# 列出2023年9月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202309score/"><FONT SIZE="7">#DB23-09-2# 列出2023年9月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1UpmH-x_uLTeb-oCIYwq-FYb2m49ktCUUMzcIcxGgsD4/edit?usp=sharing"><FONT SIZE="7">#DB23-09-g# 列出2023年9月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202310/"><FONT SIZE="7">#DB23-11-1# 列出2023年10月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202310score/"><FONT SIZE="7">#DB23-11-2# 列出2023年10月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/16eaYVJm4c2MuECOjzIPj76kWMtAopTDJB3lkR6k5Lqs/edit?usp=sharing"><FONT SIZE="7">#DB23-11-g# 列出2023年10月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>
		
		
		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202311/"><FONT SIZE="7">#DB23-11-1# 列出2023年11月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202311score/"><FONT SIZE="7">#DB23-11-2# 列出2023年11月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1hJHpG6wWGkL7Cd3KK3CVPaftiLZBM5RX4x2kd3G5qYw/edit?usp=sharing"><FONT SIZE="7">#DB23-11-g# 列出2023年11月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202312/"><FONT SIZE="7">#DB23-12-1# 列出2023年12月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202312score/"><FONT SIZE="7">#DB23-12-2# 列出2023年12月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1Iakn5sXmLxKu4jiKfj8lyfMvsmniAmcTRIOV84Kz8gU/edit?usp=sharing"><FONT SIZE="7">#DB23-12-g# 列出2023年12月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202401/"><FONT SIZE="7">#DB24-01-1# 列出2024年1月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202401score/"><FONT SIZE="7">#DB24-01-2# 列出2024年1月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1Qe-Ykp3layRW5SsCgml4s8UGrth97lVHlLjaNDZ9lUI/edit?usp=sharing"><FONT SIZE="7">#DB24-01-g# 列出2024年1月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202402/"><FONT SIZE="7">#DB24-02-1# 列出2024年2月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202402score/"><FONT SIZE="7">#DB24-02-2# 列出2024年2月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1s2D6cYmpOTntvT4gXG7fg8E9AsLnBu-btAy2FK2LRt0/edit?usp=sharing"><FONT SIZE="7">#DB24-02-g# 列出2024年2月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>
		
				<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202403/"><FONT SIZE="7">#DB24-03-1# 列出2024年3月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202403score/"><FONT SIZE="7">#DB24-03-2# 列出2024年3月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1tA0TNE5wOpRBUM85LoiwU8OjuxzC5_dR4Ody1KDjOZI/edit?usp=sharing"><FONT SIZE="7">#DB24-03-g# 列出2024年3月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>
		
			<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202404/"><FONT SIZE="7">#DB24-04-1# 列出2024年4月營收公佈後全部六大指標資料 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stock6listall202404score/"><FONT SIZE="7">#DB24-04-2# 列出2024年4月營收公佈後全部六大指標資料 by 評分高低</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="https://docs.google.com/spreadsheets/d/1cTUbu42GKl71XwAJnqd9IZ8-_tbjD10ztQ-_zzXH0bA/edit?usp=sharing"><FONT SIZE="7">#DB24-04-g# 列出2024年4月營收公佈後全部六大指標資料（Gsheets資料庫）</FONT></a>
		</th>
		</tr>
</table>

<br><br><br>


<table width="100%">

		<tr>
		  <th align="left" style="background-color:#C6A300;">
		<a href="/stockPrice5y/"><FONT SIZE="7">#2-1# 5年歷史價格即時查詢</FONT></a>
		</th>	
		</tr>



		<tr>
		  <th align="left" style="background-color:#C6A300;">
		<a href="/stockPERsegx/"><FONT SIZE="7">#2-2b# 本益比區間即時計算（新版優化）</FONT></a>
		</th>	
		</tr>



		<tr>
		  <th align="left" style="background-color:#C6A300;">
		<a href="/stockPERseg2/"><FONT SIZE="7">#2-3a# 本益比區間即時計算 簡易版（自行調整參數）</FONT></a>
		</th>	
		</tr>



		<tr>
		  <th align="left" style="background-color:#C6A300;">
		<a href="/stockPERseg3/"><FONT SIZE="7">#2-4a# 本益比區間即時計算 進階版（自行調整數字）</FONT></a>
		</th>	
		</tr>



		<tr>
		  <th align="left" style="background-color:#C6A300;">
		<a href="/stockPERsegDiv/"><FONT SIZE="7">#2-5# 本益比區間（還權）即時計算</FONT></a>
		</th>	
		</tr>


		<tr>
		  <th align="left" style="background-color:#C6A300;">
		<a href="/stockPERsegPEG/"><FONT SIZE="7">#2-6a# 本益比區間PEG即時計算</FONT></a>
		</th>	
		</tr>



		<tr>
	
                            
		 <th align="left" style="background-color:#FFE6FF;">
		 <a href="/DB_stockPERseg/"><FONT SIZE="7">本益比區間 舊資料庫</FONT></a>
		 </th>
		</tr>



		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202201/"><FONT SIZE="7">#DB22-01-3# 列出2022年1月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202201score/"><FONT SIZE="7">#DB22-01-4# 列出2022年1月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202202/"><FONT SIZE="7">#DB22-02-3# 列出2022年2月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202202score/"><FONT SIZE="7">#DB22-02-4# 列出2022年2月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202203/"><FONT SIZE="7">#DB22-03-3# 列出2022年3月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202203score/"><FONT SIZE="7">#DB22-03-4# 列出2022年3月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202204/"><FONT SIZE="7">#DB22-04-3# 列出2022年4月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202204score/"><FONT SIZE="7">#DB22-04-4# 列出2022年4月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202205/"><FONT SIZE="7">#DB22-05-3# 列出2022年5月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202205score/"><FONT SIZE="7">#DB22-05-4# 列出2022年5月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202206/"><FONT SIZE="7">#DB22-06-3# 列出2022年6月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202206score/"><FONT SIZE="7">#DB22-06-4# 列出2022年6月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202207/"><FONT SIZE="7">#DB22-07-3# 列出2022年7月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202207score/"><FONT SIZE="7">#DB22-07-4# 列出2022年7月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>



		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202208/"><FONT SIZE="7">#DB22-08-3# 列出2022年8月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202208score/"><FONT SIZE="7">#DB22-08-4# 列出2022年8月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202209/"><FONT SIZE="7">#DB22-09-3# 列出2022年9月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202209score/"><FONT SIZE="7">#DB22-09-4# 列出2022年9月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202210/"><FONT SIZE="7">#DB22-10-3# 列出2022年10月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202210score/"><FONT SIZE="7">#DB22-10-4# 列出2022年10月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202211/"><FONT SIZE="7">#DB22-11-3# 列出2022年11月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202211score/"><FONT SIZE="7">#DB22-11-4# 列出2022年11月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202212/"><FONT SIZE="7">#DB22-12-3# 列出2022年12月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202212score/"><FONT SIZE="7">#DB22-12-4# 列出2022年12月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202301/"><FONT SIZE="7">#DB23-01-3# 列出2023年1月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202301score/"><FONT SIZE="7">#DB23-01-4# 列出2023年1月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>
		
		
		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202302/"><FONT SIZE="7">#DB23-02-3# 列出2023年2月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202302score/"><FONT SIZE="7">#DB23-02-4# 列出2023年2月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>		

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202303/"><FONT SIZE="7">#DB23-02-3# 列出2023年3月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202303score/"><FONT SIZE="7">#DB23-02-4# 列出2023年3月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>					

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202304/"><FONT SIZE="7">#DB23-04-3# 列出2023年4月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202304score/"><FONT SIZE="7">#DB23-04-4# 列出2023年4月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202305/"><FONT SIZE="7">#DB23-05-3# 列出2023年5月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202305score/"><FONT SIZE="7">#DB23-05-4# 列出2023年5月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202306/"><FONT SIZE="7">#DB23-06-3# 列出2023年6月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202306score/"><FONT SIZE="7">#DB23-06-4# 列出2023年6月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202307/"><FONT SIZE="7">#DB23-07-3# 列出2023年7月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202307score/"><FONT SIZE="7">#DB23-07-4# 列出2023年7月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202308/"><FONT SIZE="7">#DB23-08-3# 列出2023年8月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202308score/"><FONT SIZE="7">#DB23-08-4# 列出2023年8月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202309/"><FONT SIZE="7">#DB23-09-3# 列出2023年9月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202309score/"><FONT SIZE="7">#DB23-09-4# 列出2023年9月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202310/"><FONT SIZE="7">#DB23-10-3# 列出2023年10月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202310score/"><FONT SIZE="7">#DB23-10-4# 列出2023年10月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>		

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202311/"><FONT SIZE="7">#DB23-11-3# 列出2023年11月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202311score/"><FONT SIZE="7">#DB23-11-4# 列出2023年11月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>
		
		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202312/"><FONT SIZE="7">#DB23-12-3# 列出2023年12月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202312score/"><FONT SIZE="7">#DB23-12-4# 列出2023年12月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202401/"><FONT SIZE="7">#DB24-01-3# 列出2024年1月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202401score/"><FONT SIZE="7">#DB24-01-4# 列出2024年1月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>
		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202402/"><FONT SIZE="7">#DB24-02-3# 列出2024年2月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202402score/"><FONT SIZE="7">#DB24-02-4# 列出2024年2月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202403/"><FONT SIZE="7">#DB24-03-3# 列出2024年3月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202403score/"><FONT SIZE="7">#DB24-03-4# 列出2024年3月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202404/"><FONT SIZE="7">#DB24-04-3# 列出2024年4月營收公佈後評分2.5分以上股票 的本益比區間 by 代號</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERseglistall202404score/"><FONT SIZE="7">#DB24-04-4# 列出2024年4月營收公佈後評分2.5分以上股票 的本益比區間 by 風險報酬倍數</FONT></a>
		</th>
		</tr>
				
		<tr>
		  <th align="left" style="background-color:#C6A300;">
		<a href="/stockPERsegStable/"><FONT SIZE="7">#2-7# 本益比區間波動值計算</FONT></a>
		</th>	
		</tr>


		<tr>
	
                            
		 <th align="left" style="background-color:#FFE6FF;">
		 <a href="/DB_stockPERsegStable/"><FONT SIZE="7">本益比區間波動值 資料庫</FONT></a>
		 </th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2021Q2/"><FONT SIZE="7">列出2021年Q2財報和2021年7月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2021Q3/"><FONT SIZE="7">列出2021年Q3財報和2021年10月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2021Q4/"><FONT SIZE="7">列出2021年Q4財報和2022年2月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2022Q1/"><FONT SIZE="7">列出2022年Q1財報和2022年4月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2022Q3/"><FONT SIZE="7">列出2022年Q3財報和2022年10月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>
		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2022Q4/"><FONT SIZE="7">列出2022年Q4財報和2023年2月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>
</table>

<br><br><br>


<table width="100%">
		<tr>
		  <th align="left" style="background-color:#73BF00;">
		<a href="/Epsachiever/"><FONT SIZE="7">#3-1# EPS達成率</FONT></a>
		</th>	
		</tr>



		<tr>
	
                            
		 <th align="left" style="background-color:#FFE6FF;">
		 <a href="/DB_EPSachiever/"><FONT SIZE="7">EPS達成率 資料庫</FONT></a>
		 </th>
		</tr>


		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSachieve2021Q2listall/"><FONT SIZE="7">列出2021年Q2財報和7月營收公佈後評分2.5分以上股票的EPS達成率超過66%的名單</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSachieve2021Q3listall/"><FONT SIZE="7">列出2021年Q3財報和10月營收公佈後評分2.5分以上股票的EPS達成率超過100%的名單</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSachieve2022Q1listall/"><FONT SIZE="7">列出2022年Q1財報和4月營收公佈後評分2.5分以上股票的EPS達成率超過33%的名單</FONT></a>
		</th>
		</tr>


		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSachieve2022Q3listall/"><FONT SIZE="7">列出2022年Q3財報和10月營收公佈後評分2.5分以上股票的EPS達成率超過100%的名單</FONT></a>
		</th>
		</tr>
		
		</table>
<br><br>


<table width="100%">
		<tr>
		  <th align="left" style="background-color:#00CACA;">
		<a href="/StockCapGetter/"><FONT SIZE="7">#4-1# 股本變化率</FONT></a>
		</th>	
		</tr>


		<tr>
	
                            
		 <th align="left" style="background-color:#FFE6FF;">
		 <a href="/DB_StockCapGetter/"><FONT SIZE="7">股本變化率 資料庫</FONT></a>
		 </th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2021Q2listall/"><FONT SIZE="7">列出資料庫2021年Q2財報和2021年7月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>


		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2021Q3listall/"><FONT SIZE="7">列出資料庫2021年Q3財報和2021年10月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>


		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2021Q4listall/"><FONT SIZE="7">列出資料庫2021年Q4財報和2022年2月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2022Q1listall/"><FONT SIZE="7">列出資料庫2022年Q1財報和2022年4月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>
		
		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2022Q3listall/"><FONT SIZE="7">列出資料庫2022年Q3財報和2022年10月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>		

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2022Q4listall/"><FONT SIZE="7">列出資料庫2022年Q4財報和2023年2月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>		
		
		</table>

		
		</table>

<br><br>


<table width="100%">
		<tr>
		  <th align="left" style="background-color:#FFC1E0;">
		<a href="/EPSnProfitGetter/"><FONT SIZE="7">#5-1# EPS和營益率創新高查詢</FONT></a>
		</th>	
		</tr>


		<tr>
	
                            
		 <th align="left" style="background-color:#FFE6FF;">
		 <a href="/DB_EPSnProfitGetter/"><FONT SIZE="7">EPS和營益率創新高 資料庫</FONT></a>
		 </th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2021Q2listall/"><FONT SIZE="7">列出資料庫2021年Q2財報和2021年7月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2021Q3listall/"><FONT SIZE="7">列出資料庫2021年Q3財報和2021年10月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2021Q4listall/"><FONT SIZE="7">列出資料庫2021年Q4財報和2022年2月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>

		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2022Q1listall/"><FONT SIZE="7">列出資料庫2022年Q1財報和2022年4月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>
		
		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2022Q3listall/"><FONT SIZE="7">列出資料庫2022年Q3財報和2022年10月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>


		<tr>
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2022Q4listall/"><FONT SIZE="7">列出資料庫2022年Q4財報和2023年2月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>	
				
		</table>



<br><br>


<table width="100%">
		<tr>
		  <th align="left" style="background-color:#FF8040;">
		<a href="/BigMoney/"><FONT SIZE="7">#6-1# 大戶持有比率查詢</FONT></a>
		</th>	
		</tr>



</table>

<br><br>

<table width="100%">

		<tr>
		  <th align="left" style="background-color:#9999CC;">
		<a href="/AREAdownloads/"><FONT SIZE="7">付費使用者下載專區</FONT></a>
		</th>	
		</tr>


		</table>		




{% block exit %}
{% endblock %}




		<div id="footer"><FONT SIZE="5">&copy; Copyright 2020.7 ~ NOW 財務指標程式選股</FONT></div>
	</div>
</body>
</html>
