<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>六大指標智慧系統首頁</title>
	
	
</head>
<body>
	<div id="warp">
		<div id="header">
			{% block login %}{% endblock %}
			<div class="logo">
				
			</div>
		</div>
		<div class="headings">
		  <h2><FONT SIZE="6">☆最新消息 ☆機器和程式可以做的，我們人類不需要親自做，大量節省您寶貴的時間，專注在更重要的分析上☆</FONT></h2>
		</div>  
		{% block content %}{% endblock %}


<br><br><br>

<table width="100%">
		<tr>
                            
		 <th align="left" style="background-color:#D3A4FF">
		 <a href="https://shopee.tw/product/10430742/9287621107?smtt=0.0.9"><FONT SIZE="7">WebApp 外部股東報酬率Kn值 單方案收費標準</FONT></a>
		 </th>
		</tr>


		<tr>
                            
		 <th align="left" style="background-color:#D3A4FF">
		 <a href="https://shopee.tw/product/10430742/9185647042?smtt=0.0.9"><FONT SIZE="7">WebApp 六大指標 加 外部股東報酬率Kn值 雙方案收費標準</FONT></a>
		 </th>
		</tr>


		<tr>
                            
		 <th align="left" style="background-color:#C4E1FF;">
		 <a href="https://shopee.tw/product/10430742/6608578228?smtt=0.0.9"><FONT SIZE="7">WebApp 六大指標單方案收費標準</FONT></a>
		 </th>
		</tr>


		<tr>
                            
		 <th align="left" style="background-color:#D7FFEE;">
		 <a href="https://shopee.tw/product/10430742/5439231364?smtt=0.0.9"><FONT SIZE="7">WebApp 本益比區間、風險報酬倍數單方案收費標準</FONT></a>
		 </th>
		</tr>
		

		<tr>
                            
		 <th align="left" style="background-color:#D3A4FF">
		 <a href="https://shopee.tw/product/10430742/6939400511?smtt=0.0.9"><FONT SIZE="7">WebApp 六大指標 加 本益比區間、風險報酬倍數 雙方案收費標準</FONT></a>
		 </th>
		</tr>



		<tr>
                            
		 <th align="left" style="background-color:#D7FFEE;">
		 <a href="https://shopee.tw/product/10430742/4047931613?smtt=0.0.9 "><FONT SIZE="7">linebot股票機器人單方案收費標準</FONT></a>
		 </th>
		</tr>



		<tr>
                            
		 <th align="left" style="background-color:#C4E1FF;">
		 <a href="https://shopee.tw/product/10430742/6652574772/"><FONT SIZE="7">ExcelVBA 六大指標單方案收費標準</FONT></a>
		 </th>
		</tr>


		<tr>
                            
		 <th align="left" style="background-color:#D7FFEE;">
		 <a href="https://shopee.tw/product/10430742/4654580250/"><FONT SIZE="7">ExcelVBA 本益比區間、風險報酬倍數單方案收費標準</FONT></a>
		 </th>
		</tr>
		

		<tr>
                            
		 <th align="left" style="background-color:#D3A4FF">
		 <a href="https://shopee.tw/product/10430742/6954605721/"><FONT SIZE="7">ExcelVBA 六大指標 加 本益比區間、風險報酬倍數 雙方案收費標準</FONT></a>
		 </th>
		</tr>



		</table>



<br><br><br>


		<div id="header2">
			{% block login2 %}{% endblock %}
			<div class="logo2">
<br><br>

		<div id="footer">&copy; Copyright 2020.7~NOW 六大指標智慧系統</div>
	</div>
</body>
</html>
