{% extends "baseusers.html" %}


{% block append %}

{% endblock %}

{% block content %}

<br><br><br><br><br><br>

<table width="100%">




		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfitlistall2020Q1/"><FONT SIZE="7">#DB20-06-8# 列出資料庫2020年6月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>



		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2020Q2listall/"><FONT SIZE="7">#DB20-Q2-8# 列出資料庫2020年Q2財報和7月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2020Q3listall/"><FONT SIZE="7">#DB20-Q3-8# 列出資料庫2020年Q3財報和0月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>




		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2020Q4listall/"><FONT SIZE="7">#DB20-Q4-8#列出資料庫2020年Q4財報和2021年2月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSnProfit2021Q1listall/"><FONT SIZE="7">#DB21-Q1-8#列出資料庫2021年Q1財報和2021年4月營收公布後評分2.5分以上，所有這八季EPS「或」營益率創新高的股票</FONT></a>
		</th>
		</tr>
</table>


</table>

<br><br><br><br><br><br>

{% endblock %}
