{% extends "baseusers.html" %}


{% block append %}

{% endblock %}

{% block content %}

<br><br><br><br><br><br>

<table width="100%">


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/listallEPS/"><FONT SIZE="7">#DB20-06-6# 列出2020年6月營收公佈後評分2.5分以上股票的EPS達成率超過33%的名單</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSachieve2020Q2listall/"><FONT SIZE="7">#DB20-Q2-6# 列出2020年Q2財報和7月營收公佈後評分2.5分以上股票的EPS達成率超過60%的名單</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSachieve2020Q3listall/"><FONT SIZE="7">#DB20-Q3-6# 列出2020年Q3財報和10月營收公佈後評分2.5分以上股票的EPS達成率超過100%的名單</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/EPSachieve2021Q1listall/"><FONT SIZE="7">#DB21-Q1-6# 列出2021年Q1財報和4月營收公佈後評分2.5分以上股票的EPS達成率超過33%的名單</FONT></a>
		</th>
		</tr>
</table>


</table>

<br><br><br><br><br><br>

{% endblock %}
