{% extends "baseusers.html" %}


{% block append %}

{% endblock %}

{% block content %}

<br><br><br><br><br><br>

<table width="100%">


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2020Q2listall/"><FONT SIZE="7">#DB20-Q2-7# 列出2020年Q2財報和7月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2020Q3listall/"><FONT SIZE="7">#DB20-Q3-7# 列出2020年Q3財報和10月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>



		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2020Q4listall/"><FONT SIZE="7">#DB20-Q4-7# 列出2020年Q4財報和2021年2月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/StockCapVar2021Q1listall/"><FONT SIZE="7">#DB21-Q1-7# 列出2021年Q1財報和2021年4月營收公佈後評分2.5分以上股票的股本變化率所有資料</FONT></a>
		</th>
		</tr>
</table>


</table>

<br><br><br><br><br><br>

{% endblock %}
