{% extends "baseusers.html" %}


{% block append %}

{% endblock %}

{% block content %}

<br><br><br><br><br><br>

<table width="100%">



		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2020/"><FONT SIZE="7">#DB20-06-5# 列出2020年6月公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>


		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2020Q2/"><FONT SIZE="7">#DB20-Q2-5# 列出2020年Q2財報和7月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2020Q3/"><FONT SIZE="7">#DB20-Q3-5# 列出2020年Q3財報和10月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>



		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2020Q4/"><FONT SIZE="7">#DB20-Q4-5# 列出2020年Q4財報和2021年2月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>

		<tr>		 
		 <th align="left" style="background-color:#D9FFFF;">
		<a href="/stockPERsegStablelistall2021Q1/"><FONT SIZE="7">#DB21-Q1-5# 列出2021年Q1財報和2021年4月營收公佈後評分2.5分以上，穩定本益比區間（上下不超過30%）的股票</FONT></a>
		</th>
		</tr>


</table>

<br><br><br><br><br><br>

{% endblock %}
