
<html>

<head>

<meta charset='utf-8'>

<title>檢驗6大指標 - EPS</title>


</head>


<body>




<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td>

    {% if request.user.is_authenticated %}
    	<FONT SIZE="7">歡迎光臨！！</FONT>

        <p><a href="/logout/"><FONT SIZE="7">登出</FONT></a></p>
    {% else %}
        <p><FONT SIZE="7">您尚未登入喔~</FONT></p>
        <a href="/login/"><FONT SIZE="7">登入</FONT></a>
    {% endif %}
</td>
</tr>
</table>



<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
  <td align="center">
  <form action="/DC_EPS/" method="POST" name="form1">
    {% csrf_token %}
    <div><FONT SIZE="7">請輸入台股代號：<input type="text" name="stockid"  style="font-size:40px"></FONT> <br><br>
          <input type="submit" value="送出資料"  style="font-size:60px"></div>



</td>
</tr>
</table>

<br><br>









<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">

<caption><FONT SIZE="6">六大指標 - EPS 多重檢驗</FONT></caption>


<tr>	
<td style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">台股代號：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{mess}}</FONT></div></td>
</tr>



<tr>	
<td style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">股票名稱：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{stock_name}}</FONT></div></td>
</tr>



</table>



 	


<br><br>








<br><br>



<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<caption><FONT SIZE="6">EPS詳細資料</FONT></caption>


<tr>
<td align="center"><div><FONT SIZE="7">年季</FONT></div></td> <td align="center"><div><FONT SIZE="7">單位：元</FONT></div></td>
</tr>


<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">{{d1N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{d1}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">{{d2N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{d2}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">{{d3N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{d3}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">{{d4N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{d4}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">{{d5N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{d5}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">{{d6N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{d6}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">{{d7N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{d7}}</FONT></div></td>
</tr>


<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">{{d8N}}</FONT></div></td> <td><div align="center"><FONT SIZE="7">{{d8}}</FONT></div></td>
</tr>


<tr>
<td align="center" style="background-color:#FFAAD5;"><div><FONT SIZE="7">評等</FONT></div></td> <td><div align="center"><FONT SIZE="7">請參考下面多重驗證</FONT></div></td>
</tr>
</table>



<br><br>



<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<caption><FONT SIZE="6">EPS指標多重驗證（-1表示「不符合」，「符合」會呈現各指標分數1-4）</FONT></caption>



<tr>
<td align="center"><div><FONT SIZE="7">指標條件</FONT></div></td> <td align="center"><div><FONT SIZE="7">條件說明</FONT></div></td> <td align="center"><div><FONT SIZE="7">分數</FONT></div></td>
</tr>



<tr>
<td align="center"><div><FONT SIZE="7">AA1</FONT></div></td> <td align="center"><div><FONT SIZE="5">最近四季累積超過5元</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultAA1}}</FONT></div></td>
</tr>




<tr>
<td align="center"><div><FONT SIZE="7">AA2</FONT></div></td> <td align="center"><div><FONT SIZE="5"></FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultAA2}}</FONT></div></td>
</tr>


<tr>
<td align="center"><div><FONT SIZE="7">A1</FONT></div></td> <td align="center"><div><FONT SIZE="5">最近四季累積3-5元</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultA1}}</FONT></div></td>
</tr>



<tr>
<td align="center"><div><FONT SIZE="7">A2</FONT></div></td> <td align="center"><div><FONT SIZE="5"></FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultA2}}</FONT></div></td>
</tr>





<tr>
<td align="center"><div><FONT SIZE="7">BB1</FONT></div></td> <td align="center"><div><FONT SIZE="5">最近四季累積1-3元</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultBB1}}</FONT></div></td>
</tr>




<tr>
<td align="center"><div><FONT SIZE="7">BB2</FONT></div></td> <td align="center"><div><FONT SIZE="5"></FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultBB2}}</FONT></div></td>
</tr>


<tr>
<td align="center"><div><FONT SIZE="7">BB3</FONT></div></td> <td align="center"><div><FONT SIZE="5"></FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultBB3}}</FONT></div></td>
</tr>

<tr>
<td align="center"><div><FONT SIZE="7">B1</FONT></div></td> <td align="center"><div><FONT SIZE="5">不管最近四季累積數，最近一季出現虧損者</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultB1}}</FONT></div></td>
</tr>



<tr>
<td align="center"><div><FONT SIZE="7">B2</FONT></div></td> <td align="center"><div><FONT SIZE="5">最近四季累積超過0元</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultB2}}</FONT></div></td>
</tr>

<tr>
<td align="center"><div><FONT SIZE="7">B3</FONT></div></td> <td align="center"><div><FONT SIZE="5"></FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultB3}}</FONT></div></td>
</tr>

<tr>
<td align="center"><div><FONT SIZE="7">C1</FONT></div></td> <td align="center"><div><FONT SIZE="5">最近四季累積虧損</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultC1}}</FONT></div></td>
</tr>


<tr>
<td align="center"><div><FONT SIZE="7">C2</FONT></div></td> <td align="center"><div><FONT SIZE="5"></FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultC2}}</FONT></div></td>
</tr>


</table>


<br>
<br>

<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td align="center"><a href="/usersmain/" title="usersmain"><FONT SIZE="6">回功能首頁</FONT></a></td>
</tr>
</table>


</body>

</html>
