
<html>

<head>

<meta charset='utf-8'>

<title>檢驗6大指標 - 營益率</title>


</head>


<body>




<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td>

    {% if request.user.is_authenticated %}
    	<FONT SIZE="7">歡迎光臨！！</FONT>

        <p><a href="/logout/"><FONT SIZE="7">登出</FONT></a></p>
    {% else %}
        <p><FONT SIZE="7">您尚未登入喔~</FONT></p>
        <a href="/login/"><FONT SIZE="7">登入</FONT></a>
    {% endif %}
</td>
</tr>
</table>



<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
  <td align="center">
  <form action="/DC_Prof/" method="POST" name="form1">
    {% csrf_token %}
    <div><FONT SIZE="7">請輸入台股代號：<input type="text" name="stockid"  style="font-size:40px"></FONT> <br><br>
          <input type="submit" value="送出資料"  style="font-size:60px"></div>



</td>
</tr>
</table>

<br><br>









<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">

<caption><FONT SIZE="6">六大指標 - 營益率</FONT></caption>


<tr>	
<td style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">台股代號：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{mess}}</FONT></div></td>
</tr>



<tr>	
<td style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">股票名稱：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{stock_name}}</FONT></div></td>
</tr>



</table>



 	


<br><br>











<br><br>





<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<caption><FONT SIZE="6">營益率詳細資料</FONT></caption>



<tr>
<td align="center"><div><FONT SIZE="7">年季</FONT></div></td> <td align="center"><div><FONT SIZE="7">單位：%</FONT></div></td>
</tr>



<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">{{a1N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{a1}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">{{a2N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{a2}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">{{a3N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{a3}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">{{a4N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{a4}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">{{a5N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{a5}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">{{a6N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{a6}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">{{a7N}}</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{a7}}</FONT></div></td>
</tr>


<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">{{a8N}}</FONT></div></td> <td><div align="center"><FONT SIZE="7">{{a8}}</FONT></div></td>
</tr>


<tr>
<td align="center" style="background-color:#2894FF;"><div><FONT SIZE="7">近四季平均</FONT></div></td> <td><div align="center"><FONT SIZE="7">{{a9}}</FONT></div></td>
</tr>


<tr>
<td align="center" style="background-color:#2894FF;"><div><FONT SIZE="7">最新一季季增率</FONT></div></td> <td><div align="center"><FONT SIZE="7">{{a10p}}</FONT></div></td>
</tr>

<tr>
<td align="center" style="background-color:#9999CC;"><div><FONT SIZE="7">評等</FONT></div></td> <td><div align="center"><FONT SIZE="7">請參考下面多重驗證</FONT></div></td>
</tr>
</table>


<br><br>



<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<caption><FONT SIZE="6">營益率指標多重驗證（-1表示「不符合」，「符合」會呈現各指標分數1-4）</FONT></caption>



<tr>
<td align="center"><div><FONT SIZE="7">指標條件</FONT></div></td> <td align="center"><div><FONT SIZE="7">條件說明</FONT></div></td> <td align="center"><div><FONT SIZE="7">分數</FONT></div></td>
</tr>



<tr>
<td align="center"><div><FONT SIZE="7">AA1</FONT></div></td> <td align="center"><div><FONT SIZE="5">過去四季皆維持穩定沒有下跌，且平均在15%以上</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultAA1}}</FONT></div></td>
</tr>




<tr>
<td align="center"><div><FONT SIZE="7">AA2</FONT></div></td> <td align="center"><div><FONT SIZE="5">過去四季皆維持穩定沒有下降，且平均在10-15%，最近一季呈現上升趨勢</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultAA2}}</FONT></div></td>
</tr>




<tr>
<td align="center"><div><FONT SIZE="7">A1</FONT></div></td> <td align="center"><div><FONT SIZE="5">過去四季皆維持穩定沒有下降，且平均在10-15%</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultA1}}</FONT></div></td>
</tr>



<tr>
<td align="center"><div><FONT SIZE="7">A2</FONT></div></td> <td align="center"><div><FONT SIZE="5">或過去四季皆維持穩定沒有下跌，平均只有5-10%，但最近一季呈現上升趨勢</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultA2}}</FONT></div></td>
</tr>





<tr>
<td align="center"><div><FONT SIZE="7">BB1</FONT></div></td> <td align="center"><div><FONT SIZE="5">過去四季曾出現季與季之間下跌20%以上，但不包括最近一季 1</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultBB1}}</FONT></div></td>
</tr>




<tr>
<td align="center"><div><FONT SIZE="7">BB2</FONT></div></td> <td align="center"><div><FONT SIZE="5">過去四季曾出現季與季之間下跌20%以上，但不包括最近一季 2</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultBB2}}</FONT></div></td>
</tr>




<tr>
<td align="center"><div><FONT SIZE="7">BB3</FONT></div></td> <td align="center"><div><FONT SIZE="5">無法歸類的情況</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultBB3}}</FONT></div></td>
</tr>
<tr>
<td align="center"><div><FONT SIZE="7">B1</FONT></div></td> <td align="center"><div><FONT SIZE="5">最近一季比上一季跌20%以上</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultB1}}</FONT></div></td>
</tr>



<tr>
<td align="center"><div><FONT SIZE="7">B2</FONT></div></td> <td align="center"><div><FONT SIZE="5">或不論漲跌幅，過去四季平均營益率在5%以下</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultB2}}</FONT></div></td>
</tr>



<tr>
<td align="center"><div><FONT SIZE="7">C1</FONT></div></td> <td align="center"><div><FONT SIZE="5">過去四季的平均為負</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultC1}}</FONT></div></td>
</tr>


<tr>
<td align="center"><div><FONT SIZE="7">C2</FONT></div></td> <td align="center"><div><FONT SIZE="5">最近一季為負</FONT></div></td> <td align="center"><div><FONT SIZE="7">{{resultC2}}</FONT></div></td>
</tr>


</table>




<br>
<br>


<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">

<tr>
<td align="center"><a href="/usersmain/" title="usersmain"><FONT SIZE="6">回功能首頁</FONT></a></td>
</tr>

</table>





</body>

</html>
