
<html>

<head>

<meta charset='utf-8'>

<title>查詢股票EPS達成率</title>


</head>


<body>




<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td>

    {% if request.user.is_authenticated %}
    	<FONT SIZE="7">歡迎光臨！！</FONT>

        <p><a href="/logout/"><FONT SIZE="7">登出</FONT></a></p>
    {% else %}
        <p><FONT SIZE="7">您尚未登入喔~</FONT></p>
        <a href="/login/"><FONT SIZE="7">登入</FONT></a>
    {% endif %}
</td>
</tr>




<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
  <td align="center">
  <form action="/Epsachiever/" method="POST" name="form1">
    {% csrf_token %}
    <div><FONT SIZE="7">請輸入台股代號：<input type="text" name="stockid"  style="font-size:40px"></FONT> <br>
          <input type="submit" value="送出資料"  style="font-size:40px"></div>


</form>
</td>
</tr>
</table>


<br>
<br>

<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">

<caption><FONT SIZE="6">EPS達成率</FONT></caption>

<tr>	
<td style="background-color:#C1FFE4;" align="center"><div><FONT SIZE="7">台股代號：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{mess}}</FONT></div></td>
</tr>


<tr>	
<td style="background-color:#C1FFE4;" align="center">
<div><FONT SIZE="7">股票名稱：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{stock_name}}</FONT></div></td>
</tr>


<tr>	
<td style="background-color:#0072E3;" align="center"><div><FONT SIZE="7">2021年Q1 EPS：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{epsq1}}</FONT></div></td>
</tr>


<tr>	
<td style="background-color:#0072E3;" align="center"><div><FONT SIZE="7">2021年Q2 EPS：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{epsq2}}</FONT></div></td>
</tr>


<tr>	
<td style="background-color:#0072E3;" align="center"><div><FONT SIZE="7">2021年Q3 EPS：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{epsq3}}</FONT></div></td>
</tr>


<tr>	
<td style="background-color:#0072E3;" align="center"><div><FONT SIZE="7">2020年 EPS：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{eps1}}</FONT></div></td>
</tr>


<tr>	
<td style="background-color:#C4E1FF;" align="center"><div><FONT SIZE="7">EPS達成率：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{epsAchieveRate}}</FONT></div></td>
</tr>




</table>





<br>
<br>





<br>
<br>


<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">


<tr>
<td align="center"><a href="/usersmain/" title="usersmain"><FONT SIZE="6">回功能首頁</FONT></a></td>
</tr>
</table>

</body>

</html>
