{% extends "base_sns.html" %}







{% block content %}
	<div class="contentbox">
		<table width="100%">
		<tr>
		  <th align="center" style="background-color:#C4E1FF;">
		  <a href="https://shopee.tw/abedul59" title="shopee">
	<FONT SIZE="7">蝦皮賣場</FONT></a></th>
		</tr>
		<tr>
		  <th align="center" style="background-color:#C4E1FF;">
		  <a href="https://www.ruten.com.tw/store/abedul59/" title="ruten">
	<FONT SIZE="7">露天賣場</FONT></a></th>
		</tr>
		</table>

	</div>

<br><br><br>

{% endblock %}


