{% extends "baseusers.html" %}


{% block content %}
	<div class="contentbox">
		<form action="/newsdelete_common/{{username}}/{{newsid}}/1/" id="form1" name="form1" method="post">
		  {% csrf_token %}
		  <table width="90%" align="center">


			<tr>
			  <td><strong><font color="#FF0000">是否確定刪除？</font></strong></td>
			  <td><input type="submit" name="button" id="button" value="確定" />
			  <input type="button" name="button3" id="button3" value="回主頁面" onclick="window.location='/usersmain_common/{{username}}/'" />
			</tr>
		  </table>
		</form>
	</div>
{% endblock %}