<!DOCTYPE html>
<html>
	<head>
		<title>顯示 六大指標資料  {{Xgroup}} 子產業 by 評分高低（寫入資料庫）</title>
	</head>
	<body>
		<h2>六大指標資料  {{Xgroup}} 子產業 by 評分高低（寫入資料庫）</h2>
		<table border="1" cellpadding="0" cellspacing="0">
			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">編號</FONT></th>
			<th align="center" style="background-color:#00CACA;"><FONT SIZE="5">股票代碼</FONT></th>
			<th align="center" style="background-color:#00CACA;"><FONT SIZE="5">股票名稱</FONT></th>

			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">指1-收</FONT></th>
			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">指2-益</FONT></th>
			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">指3-淨</FONT></th>
			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">指4-E</FONT></th>
			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">指5-存</FONT></th>
			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">指6-流</FONT></th>
			<th align="center" style="background-color:#EA0000;"><FONT SIZE="5">平均</FONT></th>
			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">增減</FONT></th>

			<th align="center"><FONT SIZE="5">5月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">4月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">3月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">2月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">1月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">12月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">11月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">Q3<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">9月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">8月<br>評分</FONT></th>
			<th align="center"><FONT SIZE="5">Q2<br>評分</FONT></th>

			<th align="center" style="background-color:#2894FF;"><FONT SIZE="5">時間</FONT></th>

			{% for sign in signs %}
				<tr>
					<td align="center"><FONT SIZE="5">{{ sign.id }}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cStockID }}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cStockName}}</FONT> </td>

					<td align="center"><FONT SIZE="5">{{ sign.cSign1}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cSign2}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cSign3}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cSign4}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cSign5}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cSign6}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cAverageScore}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.cLossGain}}</FONT> </td>


					<td align="center"><FONT SIZE="5">{{ sign.sCore2105}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore2104}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore2103}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore2102}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore2101}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore20Q4}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore2011}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore20Q3}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore2009}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore2008}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{ sign.sCore20Q2}}</FONT> </td>

					<td align="center"><FONT SIZE="5">{{ sign.pubtime}}</FONT> </td>	
				</tr>
			{% endfor %}


				<tr>
					<td align="center"><FONT SIZE="5"></FONT> </td>
					<td align="center"><FONT SIZE="5"></FONT> </td>
					<td align="center" style="background-color:#EA0000;"><FONT SIZE="5">平均</FONT> </td>

					<td align="center"><FONT SIZE="5">{{aveX1}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveX2}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveX3}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveX4}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveX5}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveX6}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXcAverageScore}}</FONT> </td>
					<td align="center"><FONT SIZE="5"></FONT> </td>


					<td align="center"><FONT SIZE="5">{{aveXscore05}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscore04}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscore03}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscore02}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscore01}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscoreq4}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscore11}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscoreq3}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscore09}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscore08}}</FONT> </td>
					<td align="center"><FONT SIZE="5">{{aveXscoreq2}}</FONT> </td>

					<td align="center"><FONT SIZE="5"></FONT> </td>	
				</tr>
		</table>


<br>
<br>

<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td align="center"><a href="/stock6SubCatsAdmin/" title="stock6SubCatsAdmin"><FONT SIZE="6">回查詢子產業六大指標評分（寫入資料庫）功能頁</FONT></a></td>
</tr>
</table>

<br>
<br>


<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td align="center"><a href="/adminmain/" title="adminmain"><FONT SIZE="6">回管理者功能首頁</FONT></a></td>
</tr>
</table>


	</body>
</html>
	