
<html>

<head>

<meta charset='utf-8'>

<title>查詢 資產負債表 合併季表 簡易版</title>


</head>


<body>




<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td>

    {% if request.user.is_authenticated %}
    	<FONT SIZE="7">歡迎光臨！！</FONT>

        <p><a href="/logout/"><FONT SIZE="7">登出</FONT></a></p>
    {% else %}
        <p><FONT SIZE="7">您尚未登入喔~</FONT></p>
        <a href="/login/"><FONT SIZE="7">登入</FONT></a>
    {% endif %}
</td>
</tr>
</table>



<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
  <td align="center">
  <form action="/viewsBSQuery/" method="POST" name="form1">
    {% csrf_token %}
    <div><FONT SIZE="7">請輸入台股代號：<input type="text" name="stockid"  style="font-size:40px"></FONT> <br><br>
          <input type="submit" value="送出資料"  style="font-size:60px"></div>



</td>
</tr>
</table>

<br><br>









<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">

<caption><FONT SIZE="6">資產負債表  合併季表 簡易版</FONT></caption>


<tr>	
<td style="background-color:#00CACA;" align="center"><div><FONT SIZE="7">台股代號：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{mess}}</FONT></div></td>
</tr>



<tr>	
<td style="background-color:#00CACA;" align="center"><div><FONT SIZE="7">股票名稱：</FONT></div></td>
<td align="center"><div><FONT SIZE="7">{{stock_name}}</FONT></div></td>
</tr>






</table>



 	


<br><br>


<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<caption><FONT SIZE="6">資產負債表 合併季表 簡易版 資料</FONT></caption>



<tr>

<td align="center"><div><FONT SIZE="7">期別</FONT></div></td>


<td  style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">{{BS_Time.0}}</FONT></div></td>

<td  style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">{{BS_Time.1}}</FONT></div></td>

<td  style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">{{BS_Time.2}}</FONT></div></td>

<td  style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">{{BS_Time.3}}</FONT></div></td>

<td  style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">{{BS_Time.4}}</FONT></div></td>

<td  style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">{{BS_Time.5}}</FONT></div></td>

<td  style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">{{BS_Time.6}}</FONT></div></td>

<td  style="background-color:#D3A4FF;" align="center"><div><FONT SIZE="7">{{BS_Time.7}}</FONT></div></td>

</tr>





<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">現金及約當現金</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.0.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.0.1}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.0.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.0.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.0.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.0.5}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.0.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.0.7}}</FONT></div></td>



</tr>






<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">應收帳款及票據</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.1.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.1.1}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.1.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.1.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.1.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.1.5}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.1.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.1.7}}</FONT></div></td>

</tr>




<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">存貨</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.2.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.2.1}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.2.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.2.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.2.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.2.5}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.2.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.2.7}}</FONT></div></td>


</tr>




<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">流動資產</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.3.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.3.1}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.3.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.3.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.3.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.3.5}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.3.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.3.7}}</FONT></div></td>


</tr>





<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">不動產廠房及設備</FONT></div></td>



<td align="center"><div><FONT SIZE="7">{{BSitem.4.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.4.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.4.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.4.3}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.4.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.4.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.4.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.4.7}}</FONT></div></td>


</tr>





<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">商譽及無形資產合計</FONT></div></td>



<td align="center"><div><FONT SIZE="7">{{BSitem.5.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.5.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.5.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.5.3}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.5.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.5.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.5.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.5.7}}</FONT></div></td>


</tr>





<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">非流動資產</FONT></div></td>



<td align="center"><div><FONT SIZE="7">{{BSitem.6.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.6.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.6.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.6.3}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.6.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.6.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.6.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.6.7}}</FONT></div></td>


</tr>






<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">資產總額</FONT></div></td>



<td align="center"><div><FONT SIZE="7">{{BSitem.7.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.7.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.7.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.7.3}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.7.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.7.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.7.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.7.7}}</FONT></div></td>


</tr>





<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">應付帳款及票據</FONT></div></td>



<td align="center"><div><FONT SIZE="7">{{BSitem.8.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.8.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.8.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.8.3}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.8.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.8.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.8.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.8.7}}</FONT></div></td>


</tr>








<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">流動負債</FONT></div></td>



<td align="center"><div><FONT SIZE="7">{{BSitem.9.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.9.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.9.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.9.3}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.9.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.9.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.9.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.9.7}}</FONT></div></td>


</tr>





<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">非流動負債</FONT></div></td>



<td align="center"><div><FONT SIZE="7">{{BSitem.10.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.10.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.10.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.10.3}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.10.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.10.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.10.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.10.7}}</FONT></div></td>


</tr>






<tr>

<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">負債總額</FONT></div></td>



<td align="center"><div><FONT SIZE="7">{{BSitem.11.0}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.11.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.11.2}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.11.3}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.11.4}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.11.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.11.6}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.11.7}}</FONT></div></td>


</tr>







<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">普通股股本</FONT></div></td>




<td align="center"><div><FONT SIZE="7">{{BSitem.12.0}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.12.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.12.2}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.12.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.12.4}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.12.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.12.6}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.12.7}}</FONT></div></td>


</tr>













<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">股本</FONT></div></td>




<td align="center"><div><FONT SIZE="7">{{BSitem.13.0}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.13.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.13.2}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.13.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.13.4}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.13.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.13.6}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.13.7}}</FONT></div></td>


</tr>













<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">資本公積合計</FONT></div></td>




<td align="center"><div><FONT SIZE="7">{{BSitem.14.0}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.14.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.14.2}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.14.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.14.4}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.14.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.14.6}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.14.7}}</FONT></div></td>


</tr>













<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">保留盈餘</FONT></div></td>




<td align="center"><div><FONT SIZE="7">{{BSitem.15.0}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.15.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.15.2}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.15.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.15.4}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.15.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.15.6}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.15.7}}</FONT></div></td>


</tr>













<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">母公司股東權益合計</FONT></div></td>




<td align="center"><div><FONT SIZE="7">{{BSitem.16.0}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.16.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.16.2}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.16.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.16.4}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.16.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.16.6}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.16.7}}</FONT></div></td>


</tr>













<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">非控制權益</FONT></div></td>




<td align="center"><div><FONT SIZE="7">{{BSitem.17.0}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.17.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.17.2}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.17.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.17.4}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.17.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.17.6}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.17.7}}</FONT></div></td>


</tr>













<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">股東權益總額</FONT></div></td>




<td align="center"><div><FONT SIZE="7">{{BSitem.18.0}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.18.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.18.2}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.18.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.18.4}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.18.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.18.6}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.18.7}}</FONT></div></td>


</tr>













<tr>


<td style="background-color:#FFA6FF;" align="center"><div><FONT SIZE="7">負債及股東權益總額</FONT></div></td>




<td align="center"><div><FONT SIZE="7">{{BSitem.19.0}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.19.1}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.19.2}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.19.3}}</FONT></div></td>

<td align="center"><div><FONT SIZE="7">{{BSitem.19.4}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.19.5}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.19.6}}</FONT></div></td>


<td align="center"><div><FONT SIZE="7">{{BSitem.19.7}}</FONT></div></td>


</tr>
























</table>








<br>
<br>

<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td align="center"><a href="/usersmain/" title="usersmain"><FONT SIZE="6">回功能首頁</FONT></a></td>
</tr>
</table>


</body>

</html>
